.menu2 li{
	float: left;
	position: relative;
	width: 200px;
}
.menu2 a{
	display: inline-block;
}
.bg_up,
.parent > ul {
	display: none !important
}
.parent:hover > ul {
	display: block !important
}
.menu2 .parent:hover,
.breadcrumbs .parent:hover {
	z-index: 2
}
.menu,
.breadcrumbs,
.cart{
	z-index:3;
}
.breadcrumbs{
	position: relative;
}
.breadcrumbs .parent ul {
	border:1px solid #777;
}
.catalogue-2 article a {
	margin:5px;
}
.level3 a {
	white-space: nowrap;
}
.breadcrumbs .parent ul {
	width: 238px;
}
main{
	z-index:1;
}
.tabs {
	font-size: 0
}
.tabs dt,
.tabs dd{
	font-size: 14px
}
.buy {
	display: none;
	filter: alpha(opacity=0);
	background: #fa481c
}
li:hover .buy {
	display: block;
	filter: alpha(opacity=100);
}
.radio_type input {
	display:block;
	position: absolute;
	filter: alpha(opacity=0);
}
.show_result {
	background: #fa481c
}
.show_result:before{
	border-color: transparent #fa481c transparent transparent;
}
.tooltip .hide {
	background: #000
}
.tooltip .hide:before {
	border-color:#000 transparent transparent;
}
.fancybox-overlay {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAFUlEQVQY02MU4OHZwEAEYBxVSF+FAFsCCHtLteXdAAAAAElFTkSuQmCC)
}
.alert_up {
	border:2px solid #000;
}